
# sentence-transformers
# chromadb
# beautifulsoup4
# requests
# unstructured
# tqdm


flask
flask_cors
pymongo
dotenv
langgraph
langchain
langchain_community
langchain_huggingface
google-generativeai
faiss-cpu